#title {
  font-family: 'Orbitron', sans-serif;
  margin: 15px 0 10px 70px;
  color: #fd5a5f;
}

body {
  display: flex;
  flex-direction: column;
}

#container-1 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

#listing {
  padding-top: 30px; 
  width: 700px;
}

#reviews-root {
  padding-left: 120px;
  width: 350px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  margin-left: 100px;
} 