#title {
  font-family: 'Orbitron', sans-serif;
  margin: 50px 50px 0 50px;
  color: #5c99da;
}

body {
  display: flex;
  flex-direction: column;
}

#container-1 {
  display: flex;
  flex-direction: row;  
}

#listing-description {
  padding-top: 30px; 
  width: 600px;
}

#reviews-root {
  padding-left: 90px;
  width: 350px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
} 